@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme variables */
:root{
  --bg: 250 250 250;
  --card: 255 255 255;
  --text: 24 24 27;
  --muted: 113 113 122;
  --border: 228 228 231;
  --brand: 37 99 235; /* blue */
}

html.dark{
  --bg: 9 9 11;
  --card: 24 24 27;
  --text: 244 244 245;
  --muted: 161 161 170;
  --border: 63 63 70;
  --brand: 236 72 153; /* pink */
}

body{
  background: rgb(var(--bg));
  color: rgb(var(--text));
}

/* Nice defaults */
input, textarea, select { outline: none; }